h1{
	width: 100%;
	text-align:center;	
}

.postLink{
	text-decoration: none;
	color:white;
}

.postLink:hover{
	border-bottom: solid 1px white;
}

.postList{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.postWrappBox{
	background-color: #008cc7;
	border-radius: 2px;
	padding: 20px;
	max-width: 700px;
	margin: 20px 5px;
	color: white;
}


