h1{
	width: 100%;
	text-align:center;	
}

h2{
	width: 100%;
	text-align:center;	
}

.postInfoWrapper{
	display: flex;
	justify-content: center;
}
.postDetail{
	background-color: #008cc7;
	border-radius: 2px;
	padding: 20px;
	max-width: 700px;
	margin: 20px 5px;
	color: white;
}

.commentList{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.commentWrappBox{
	border: solid 1px #008cc7;
	border-radius: 2px;
	padding: 20px;
	max-width: 700px;
	margin: 20px 5px;
	color: #008cc7;
}