.menuWrapper{
	background-color: #008cc7;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menuButton{
	font-weight: 600;
	font-size: 20px;
	margin: 25px;
	color: white;
	text-decoration: none;
}

.menuButton:hover{
	border-bottom: solid 2px white;
}